<a href="https://colab.research.google.com/github/ChengyuZhu/Small-Projects-with-Python-SQL-or-R/blob/master/Database_Processing_Functions_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Use google colab to build some functions

import pandas as pd

class Queue:
  def __init__(self, input):
    self.df = input
  
  #Function 1 Insert
  def insert(self, ID, Name, Gender, Profession, Specialty, HighestDegree, Exp_yrs):
    #Insert the line
    insert_row = [ID, Name, Gender, Profession, Specialty, HighestDegree, Exp_yrs]
    self.df.loc[self.df.index.max()+1] = insert_row
    return self.df

  #Function 2 Pop
  def pop(self):
    #Exit the served line
    if self.df.empty == False:
      data_pop = self.df.iloc[0]
      self.df.drop(self.df.index[0], inplace = True)
      self.df.reset_index(drop = True, inplace = True)
    return data_pop

  #Function 3 Retrieve
  def retrieve(self, name):
    #retrive the line
    if name in self.df.Name.values:
      index_retrieve = self.df[self.df['Name'] == name].index
      data = self.df.iloc[index_retrieve]
      return data
    else:
      return print('not found')

  #Function 4 Check_length
  def check_length(self):
    #check the size of the line
    size = len(self.df)
    return size

  #Function 5 Check_experience
  def check_experience(self, exp_input):
    #check individuals' experience and return corresponding lines
    return self.df.loc[self.df['Exp. in Years'] >= exp_input]

  #Function 6 Sort 
  def sort(self):
    #sort the given profile by the “exp. in years” in a  descending order
    df_sort = self.df.sort_values(by= 'Exp. in Years', ascending = False)
    df_sort = df_sort.reset_index(drop = True)
    return df_sort

In [2]:
#Import data to examine the functions
df1 = {'ID': [1,2,3,4,5,6,7,8,9,10,11,12],
      'Name': ['William Moore', 'Mary Kean', 'Harris Kidman', 'Olivia Yau', 'George Clark', 'Freddie Turner', 'Logan Hill', 'Thomas Watson', 'Janice Stone', 'Lucas Rice', 'Ethan Brooks' ,'Eli Wells'],
      'Gender':['M' ,'F', 'M' ,'F', 'M', 'M', 'M', 'M', 'F',' M', 'M' ,'F'],
      'Profession':['Teacher', 'Engineer', 'Engineer', 'Banker', 'Lawyer' ,'Geologist', 'Accountant', 'Nurses' ,'Chef','Social Worker', 'Pharmacist', 'Architect'],
      'Specialty':['Math', 'Software Engineering', 'Mechanic Engineering','Retail Banking','Business Law','Volcanology','Tax','Cardiac','European Modern Fusion','Clinical','Drug Information', 'Interior Design'],
      'Highest Degree':['Bachelor', 'Master','Bachelor','Bachelor','Master','Doctor','Master','Bachelor','Bachelor','Bachelor','Master','Bachelor'],
      'Exp. in Years':[2,3,5,2,3,10,3,3,10,3,1,3]}
Input_ = pd.DataFrame(df1)
print(Input_)

    ID            Name  ... Highest Degree Exp. in Years
0    1   William Moore  ...       Bachelor             2
1    2       Mary Kean  ...         Master             3
2    3   Harris Kidman  ...       Bachelor             5
3    4      Olivia Yau  ...       Bachelor             2
4    5    George Clark  ...         Master             3
5    6  Freddie Turner  ...         Doctor            10
6    7      Logan Hill  ...         Master             3
7    8   Thomas Watson  ...       Bachelor             3
8    9    Janice Stone  ...       Bachelor            10
9   10      Lucas Rice  ...       Bachelor             3
10  11    Ethan Brooks  ...         Master             1
11  12       Eli Wells  ...       Bachelor             3

[12 rows x 7 columns]

In [3]:
#Initialize the Queue function
Queue_df = Queue(Input_)

#Test Functions
print(Queue_df.insert(13, 'CZ','M','Student','MBAN','Master', 1))
print(Queue_df.pop())
print(Queue_df.check_length())
print(Queue_df.retrieve('CZ'))
print(Queue_df.check_experience(5))
print(Queue_df.sort())

    ID            Name  ... Highest Degree Exp. in Years
0    1   William Moore  ...       Bachelor             2
1    2       Mary Kean  ...         Master             3
2    3   Harris Kidman  ...       Bachelor             5
3    4      Olivia Yau  ...       Bachelor             2
4    5    George Clark  ...         Master             3
5    6  Freddie Turner  ...         Doctor            10
6    7      Logan Hill  ...         Master             3
7    8   Thomas Watson  ...       Bachelor             3
8    9    Janice Stone  ...       Bachelor            10
9   10      Lucas Rice  ...       Bachelor             3
10  11    Ethan Brooks  ...         Master             1
11  12       Eli Wells  ...       Bachelor             3
12  13              CZ  ...         Master             1

[13 rows x 7 columns]
ID                            1
Name              William Moore
Gender                        M
Profession              Teacher
Specialty                  Math
Highest Degree         Bachelor
Exp. in Years                 2
Name: 0, dtype: object
12
    ID Name Gender Profession Specialty Highest Degree  Exp. in Years
11  13   CZ      M    Student      MBAN         Master              1
   ID            Name  ... Highest Degree Exp. in Years
1   3   Harris Kidman  ...       Bachelor             5
4   6  Freddie Turner  ...         Doctor            10
7   9    Janice Stone  ...       Bachelor            10

[3 rows x 7 columns]
    ID            Name  ... Highest Degree Exp. in Years
0    6  Freddie Turner  ...         Doctor            10
1    9    Janice Stone  ...       Bachelor            10
2    3   Harris Kidman  ...       Bachelor             5
3    2       Mary Kean  ...         Master             3
4    5    George Clark  ...         Master             3
5    7      Logan Hill  ...         Master             3
6    8   Thomas Watson  ...       Bachelor             3
7   10      Lucas Rice  ...       Bachelor             3
8   12       Eli Wells  ...       Bachelor             3
9    4      Olivia Yau  ...       Bachelor             2
10  11    Ethan Brooks  ...         Master             1
11  13              CZ  ...         Master             1

[12 rows x 7 columns]